<%- include('partials/header'); -%>
<nav class="navbar navbar-light navbar-expand-md nav-lap">
    <div class="container-fluid"><a class="navbar-brand" href="#" style="background: url(&quot;assets/img/mask.jpg&quot;) center / 68% no-repeat;width: 120px;margin: 0;padding: 0;height: 120px;border-radius: 0;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active head-link" href="/" style="color: #007580;">Home</a></li>

                <li class="nav-item"><a class="nav-link active head-link" href="/ourSupport" style="color: #007580;">Media</a></li>
                    <li class="nav-item"><a class="nav-link active head-link" href="/about" style="color: #007580;">About</a></li>
                <li class="nav-item"><a class="nav-link active" href="/contact" style="color: #007580;">Contact us</a></li>
            </ul>
        </div>
    </div>
</nav>
<section id="about-section" class="highlight-clean" style="background: url('assets/img/Aboutus.jpg') center / cover no-repeat; width: 100%; min-height: 100vh; display: flex; align-items: center; justify-content: center;">
        <div class="container about about-leftbox about-glass" style="width: 100%; max-width: 600px; border-radius: 18px; padding: 32px 24px; margin: 32px 0 32px 5vw; align-self: flex-start; text-align: left; box-shadow: 0 8px 32px rgba(0,0,0,0.18);">
                <div class="intro about-header">
                        <h2 class="about-covp" data-aos="fade-right" data-aos-delay="500" style="color: #fed049; text-align: left; font-size: 2.2rem; font-weight: 900; letter-spacing: 2px; margin-bottom: 18px; text-shadow: 0 2px 12px #222;">ABOUT US</h2>
                        <ul style="padding-left: 0; list-style: none;">
                            <li data-aos="fade-right" data-aos-delay="120">
                                <p class="para about-text" data-aos="fade-right" data-aos-delay="520" style="color: #fff; font-size: 1.1rem; font-weight: 500;">CoviFund is supporting various marginalized and vulnerable families fighting the pandemic with relief.</p>
                            </li>
                            <li data-aos="fade-right" data-aos-delay="125">
                                <p class="para about-text" data-aos="fade-right" data-aos-delay="525" style="color: #fff; font-size: 1.1rem; font-weight: 500;">Helps in providing dry ration and cooked food to poor people.</p>
                            </li>
                            <li data-aos="fade-right" data-aos-delay="130">
                                <p class="para about-text" data-aos="fade-right" data-aos-delay="530" style="color: #fff; font-size: 1.1rem; font-weight: 500;">Support COVID-hit families with Action Aid's relief fund.</p>
                            </li>
                            <li data-aos="fade-right" data-aos-delay="135">
                                <p class="para about-text" data-aos="fade-right" data-aos-delay="535" style="color: #fff; font-size: 1.1rem; font-weight: 500;">Monetary help will also be provided to deserted elderly and other such families who have lost the only earning member of their family due to covid.</p>
                            </li>
                            <li data-aos="fade-right" data-aos-delay="140">
                                <p class="para about-text" data-aos="fade-right" data-aos-delay="540" style="color: #fff; font-size: 1.1rem; font-weight: 500;">
                                    We collaborate with local organizations to ensure timely delivery of essential supplies.
                                </p>
                            </li>
                            <li data-aos="fade-right" data-aos-delay="145">
                                <p class="para about-text" data-aos="fade-right" data-aos-delay="545" style="color: #fff; font-size: 1.1rem; font-weight: 500;">
                                    Our team is dedicated to spreading awareness about COVID-19 safety measures.
                                </p>
                            </li>
                           
                           
                        </ul>
                </div>
        </div>
</section>
<%- include('partials/footer'); -%>
