<%- include('partials/header'); -%>
<nav class="navbar navbar-light navbar-expand-md nav-lap">
    <div class="container-fluid"><a class="navbar-brand" href="#" style="background: url(&quot;assets/img/mask.jpg&quot;) center / 68% no-repeat;width: 120px;margin: 0;padding: 0;height: 120px;border-radius: 0;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active head-link" href="/" style="color: #007580;">Home</a></li>

                <li class="nav-item"><a class="nav-link active head-link" href="/ourSupport" style="color: #007580;">Media</a></li>
                <li class="nav-item"><a class="nav-link active head-link" href="/about" style="color: #007580;">About</a></li>
                <li class="nav-item"><a class="nav-link active" href="/contact" style="color: #007580;">Contact us</a></li>
            </ul>
        </div>
    </div>
</nav>
<section id="support" class="features-blue help-pointers">
        <div class="container" style="max-width: 1200px; margin: 0 auto; padding: 32px 0;">
            <h2 style="color: #fff; font-weight: 800; letter-spacing: 2px; text-align: center; margin-bottom: 32px; text-shadow: 0 2px 12px #222;">Our Support Initiatives</h2>
            <div class="row features support-cards">
                <div class="item support-card" data-aos="fade-left" data-aos-delay="150">
                    <div class="support-imgbox"><img class="bandas" src="assets/img/oxygensupport.jpg" alt="Oxygen Support"></div>
                    <div class="support-caption" style="color: #f8f9fa;">Oxygen Support</div>
                </div>
                <div class="item support-card" data-aos="fade-down" data-aos-delay="250">
                    <div class="support-imgbox"><img class="bandas" src="assets/img/foodforpoor.jpg" alt="Food for Poor"></div>
                    <div class="support-caption" style="color: #f8f9fa;">Food for Poor</div>
                </div>
                <div class="item support-card" data-aos="fade-right" data-aos-delay="350">
                    <div class="support-imgbox"><img class="bandas" src="assets/img/medicalaid.jpg" alt="Medical Aid"></div>
                    <div class="support-caption" style="color: #f8f9fa;">Medical Aid</div>
                </div>
                <div class="item support-card" data-aos="fade-left" data-aos-delay="450">
                    <div class="support-imgbox"><img class="bandas" src="assets/img/covidrelief.jpg" alt="COVID Relief"></div>
                    <div class="support-caption" style="color: #f8f9fa;">COVID Relief</div>
                </div>
                <div class="item support-card" data-aos="fade-up" data-aos-delay="550">
                    <div class="support-imgbox"><img class="bandas" src="assets/img/vaccination.jpg" alt="Vaccination"></div>
                    <div class="support-caption" style="color: #f8f9fa;">Vaccination</div>
                </div>
                <div class="item support-card" data-aos="fade-right" data-aos-delay="650">
                    <div class="support-imgbox"><img class="bandas" src="assets/img/transport.png" alt="Transport"></div>
                    <div class="support-caption" style="color: #f8f9fa;">Transport</div>
                </div>
            </div>
        </div>
</section>
<%- include('partials/footer'); -%>
